body {    
            justify-content: center;
            align-items: center;
            background-color: #07252d;

        }

        input {
            background-color: rgba(204, 205, 243, 0.692);
            color: white;
            height: 70px;
            width: 70px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        button {
            height: 30px;
            width: 70px;
            margin-top: 20px;
            background-color: teal;
            border-radius: 20px;
            color: white;
            font-size: 15px;
            font-weight: bold;

        }

        button:hover {
            background: #399ae9ec;
        }

        #container {
            text-align: center;
            background-color: #07252d !important;
            border-radius: 15px !important;
            box-shadow: rgba(16, 0, 243, 0.644) 0px 10px 20px, rgba(0, 4, 255, 0.767) 0px 6px 6px;
            margin-left: 35%;
            margin-right: 35%;
            margin-top: 140px;
            padding: auto;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 1%;
            padding-bottom: 1%;
           
        }
        h1{
            position: relative;
            font-size: 40px;
            text-align: center;
            color: #70f1eb;
            text-transform: uppercase;
            -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
            line-height:0.70em ;
            outline: none;
            animation: animate 5s linear infinite;
        }
    h2{
        position: relative;
        font-size: 60px;
        text-align: center;
        color: #70f1eb;
        text-transform: uppercase;
        -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
        line-height:0.70em ;
        outline: none;
        animation: animate 5s linear infinite;
    }
    @keyframes animate
    {  
        0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
        {
            color: #16414d;
            box-shadow: none;
        }
        18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
        {
            color: #fff;
            box-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4,
        }

    }